@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    overflow-x: hidden;
}
@media screen and (max-width:1500px) {
    
    .container{
        max-width:80vw;
        margin: 0px auto;
    }
}
@media screen and (min-width:1501px) {

    .container {
        max-width:1250px;
        margin: 0px auto;
    }
}
.header{
    background: url('./assets/images/headerbg.jpg') no-repeat center/cover;
}

button{
    outline: none;
    background: transparent;
    border: none;
}

.ham{
    background-color: rgba(8, 8, 8,1);
}

.cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
    background-color: #000311;
    border-radius: 50%;
    z-index: 1000;
    pointer-events: none;
}